In [12]:
import pandas as pd

** Pandas Series **

In [13]:
series_1 = pd.Series([6,7,8,9,2,3,4,5])
series_1= series_1.apply(lambda x : x**2)
series_1

0    36
1    49
2    64
3    81
4     4
5     9
6    16
7    25
dtype: int64

In [14]:
series_2 = series_1

In [15]:
series_3= series_1.append(series_2)

In [16]:
series_4 = series_3.reset_index(drop=True)
series_4[0]

36

In [17]:
series_4[5] = None

In [18]:
series_4.fillna(method="backfill")

0     36.0
1     49.0
2     64.0
3     81.0
4      4.0
5     16.0
6     16.0
7     25.0
8     36.0
9     49.0
10    64.0
11    81.0
12     4.0
13     9.0
14    16.0
15    25.0
dtype: float64

In [19]:
series_4.fillna(method="ffill")

0     36.0
1     49.0
2     64.0
3     81.0
4      4.0
5      4.0
6     16.0
7     25.0
8     36.0
9     49.0
10    64.0
11    81.0
12     4.0
13     9.0
14    16.0
15    25.0
dtype: float64

In [20]:
series_4.aggregate(func="sum")

559.0

In [21]:
series_4.aggregate(func="max")

81.0

In [22]:
series_4.all(axis=0)

True

In [23]:
n = 5
s1 = pd.Series(data=range(1,n+1))
print(s1.values)
s2 = s1.apply(lambda x : x**2)
print(s2)
s3 = pd.Series(data=s2.values, index=s1.values)
print (s3)

[1 2 3 4 5]
0     1
1     4
2     9
3    16
4    25
dtype: int64
1     1
2     4
3     9
4    16
5    25
dtype: int64

In [24]:
s4 = pd.Series(data=s1.values, index=s2.values)
s4

1     1
4     2
9     3
16    4
25    5
dtype: int32

In [25]:
df = pd.read_csv('DataSet/forestfires.csv')
df

     X  Y month  day  FFMC    DMC     DC   ISI  temp  RH  wind  rain   area
0    7  5   mar  fri  86.2   26.2   94.3   5.1   8.2  51   6.7   0.0   0.00
1    7  4   oct  tue  90.6   35.4  669.1   6.7  18.0  33   0.9   0.0   0.00
2    7  4   oct  sat  90.6   43.7  686.9   6.7  14.6  33   1.3   0.0   0.00
3    8  6   mar  fri  91.7   33.3   77.5   9.0   8.3  97   4.0   0.2   0.00
4    8  6   mar  sun  89.3   51.3  102.2   9.6  11.4  99   1.8   0.0   0.00
5    8  6   aug  sun  92.3   85.3  488.0  14.7  22.2  29   5.4   0.0   0.00
6    8  6   aug  mon  92.3   88.9  495.6   8.5  24.1  27   3.1   0.0   0.00
7    8  6   aug  mon  91.5  145.4  608.2  10.7   8.0  86   2.2   0.0   0.00
8    8  6   sep  tue  91.0  129.5  692.6   7.0  13.1  63   5.4   0.0   0.00
9    7  5   sep  sat  92.5   88.0  698.6   7.1  22.8  40   4.0   0.0   0.00
10   7  5   sep  sat  92.5   88.0  698.6   7.1  17.8  51   7.2   0.0   0.00
11   7  5   sep  sat  92.8   73.2  713.0  22.6  19.3  38   4.0   0.0   0.00
12   6  5   aug  fri  63.5   70.8  665.3   0.8  17.0  72   6.7   0.0   0.00
13   6  5   sep  mon  90.9  126.5  686.5   7.0  21.3  42   2.2   0.0   0.00
14   6  5   sep  wed  92.9  133.3  699.6   9.2  26.4  21   4.5   0.0   0.00
15   6  5   sep  fri  93.3  141.2  713.9  13.9  22.9  44   5.4   0.0   0.00
16   5  5   mar  sat  91.7   35.8   80.8   7.8  15.1  27   5.4   0.0   0.00
17   8  5   oct  mon  84.9   32.8  664.2   3.0  16.7  47   4.9   0.0   0.00
18   6  4   mar  wed  89.2   27.9   70.8   6.3  15.9  35   4.0   0.0   0.00
19   6  4   apr  sat  86.3   27.4   97.1   5.1   9.3  44   4.5   0.0   0.00
20   6  4   sep  tue  91.0  129.5  692.6   7.0  18.3  40   2.7   0.0   0.00
21   5  4   sep  mon  91.8   78.5  724.3   9.2  19.1  38   2.7   0.0   0.00
22   7  4   jun  sun  94.3   96.3  200.0  56.1  21.0  44   4.5   0.0   0.00
23   7  4   aug  sat  90.2  110.9  537.4   6.2  19.5  43   5.8   0.0   0.00
24   7  4   aug  sat  93.5  139.4  594.2  20.3  23.7  32   5.8   0.0   0.00
25   7  4   aug  sun  91.4  142.4  601.4  10.6  16.3  60   5.4   0.0   0.00
26   7  4   sep  fri  92.4  117.9  668.0  12.2  19.0  34   5.8   0.0   0.00
27   7  4   sep  mon  90.9  126.5  686.5   7.0  19.4  48   1.3   0.0   0.00
28   6  3   sep  sat  93.4  145.4  721.4   8.1  30.2  24   2.7   0.0   0.00
29   6  3   sep  sun  93.5  149.3  728.6   8.1  22.8  39   3.6   0.0   0.00
..  .. ..   ...  ...   ...    ...    ...   ...   ...  ..   ...   ...    ...
487  5  4   aug  tue  95.1  141.3  605.8  17.7  26.4  34   3.6   0.0  16.40
488  4  4   aug  tue  95.1  141.3  605.8  17.7  19.4  71   7.6   0.0  46.70
489  4  4   aug  wed  95.1  141.3  605.8  17.7  20.6  58   1.3   0.0   0.00
490  4  4   aug  wed  95.1  141.3  605.8  17.7  28.7  33   4.0   0.0   0.00
491  4  4   aug  thu  95.8  152.0  624.1  13.8  32.4  21   4.5   0.0   0.00
492  1  3   aug  fri  95.9  158.0  633.6  11.3  32.4  27   2.2   0.0   0.00
493  1  3   aug  fri  95.9  158.0  633.6  11.3  27.5  29   4.5   0.0  43.32
494  6  6   aug  sat  96.0  164.0  643.0  14.0  30.8  30   4.9   0.0   8.59
495  6  6   aug  mon  96.2  175.5  661.8  16.8  23.9  42   2.2   0.0   0.00
496  4  5   aug  mon  96.2  175.5  661.8  16.8  32.6  26   3.1   0.0   2.77
497  3  4   aug  tue  96.1  181.1  671.2  14.3  32.3  27   2.2   0.0  14.68
498  6  5   aug  tue  96.1  181.1  671.2  14.3  33.3  26   2.7   0.0  40.54
499  7  5   aug  tue  96.1  181.1  671.2  14.3  27.3  63   4.9   6.4  10.82
500  8  6   aug  tue  96.1  181.1  671.2  14.3  21.6  65   4.9   0.8   0.00
501  7  5   aug  tue  96.1  181.1  671.2  14.3  21.6  65   4.9   0.8   0.00
502  4  4   aug  tue  96.1  181.1  671.2  14.3  20.7  69   4.9   0.4   0.00
503  2  4   aug  wed  94.5  139.4  689.1  20.0  29.2  30   4.9   0.0   1.95
504  4  3   aug  wed  94.5  139.4  689.1  20.0  28.9  29   4.9   0.0  49.59
505  1  2   aug  thu  91.0  163.2  744.4  10.1  26.7  35   1.8   0.0   5.80
506  1  2   aug  fri  91.0  166.9  752.6   7.1  18.5  73   8.5   0.0   0.00
507  2  4   aug  fri  91.0  166.9  752.6   7.1  25.9  41   3.6   0.0   0.00
508  1  2   aug  fri  91.0  166.9  752.6   7.1  25.9  41   3.6   0.0   0.00
509  5  4   aug  fri  91.0  166.9  752.6   7.1  21.1  71   7.6   1.4   2.17
510  6  5   aug  fri  91.0  166.9  752.6   7.1  18.2  62   5.4   0.0   0.43
511  8  6   aug  sun  81.6   56.7  665.6   1.9  27.8  35   2.7   0.0   0.00
512  4  3   aug  sun  81.6   56.7  665.6   1.9  27.8  32   2.7   0.0   6.44
513  2  4   aug  sun  81.6   56.7  665.6   1.9  21.9  71   5.8   0.0  54.29
514  7  4   aug  sun  81.6   56.7  665.6   1.9  21.2  70   6.7   0.0  11.16
515  1  4   aug  sat  94.4  146.0  614.7  11.3  25.6  42   4.0   0.0   0.00
516  6  3   nov  tue  79.5    3.0  106.7   1.1  11.8  31   4.5   0.0   0.00

[517 rows x 13 columns]

In [26]:
df.head()

   X  Y month  day  FFMC   DMC     DC  ISI  temp  RH  wind  rain  area
0  7  5   mar  fri  86.2  26.2   94.3  5.1   8.2  51   6.7   0.0   0.0
1  7  4   oct  tue  90.6  35.4  669.1  6.7  18.0  33   0.9   0.0   0.0
2  7  4   oct  sat  90.6  43.7  686.9  6.7  14.6  33   1.3   0.0   0.0
3  8  6   mar  fri  91.7  33.3   77.5  9.0   8.3  97   4.0   0.2   0.0
4  8  6   mar  sun  89.3  51.3  102.2  9.6  11.4  99   1.8   0.0   0.0

In [27]:
df.tail()

     X  Y month  day  FFMC    DMC     DC   ISI  temp  RH  wind  rain   area
512  4  3   aug  sun  81.6   56.7  665.6   1.9  27.8  32   2.7   0.0   6.44
513  2  4   aug  sun  81.6   56.7  665.6   1.9  21.9  71   5.8   0.0  54.29
514  7  4   aug  sun  81.6   56.7  665.6   1.9  21.2  70   6.7   0.0  11.16
515  1  4   aug  sat  94.4  146.0  614.7  11.3  25.6  42   4.0   0.0   0.00
516  6  3   nov  tue  79.5    3.0  106.7   1.1  11.8  31   4.5   0.0   0.00

In [28]:
df.take([3],axis=0)  # fetch 3 row absed on index

   X  Y month  day  FFMC   DMC    DC  ISI  temp  RH  wind  rain  area
3  8  6   mar  fri  91.7  33.3  77.5  9.0   8.3  97   4.0   0.2   0.0

In [29]:
df.take([3,4], axis=1).head(2) #fetch 3 & 4 column data of all rows

   day  FFMC
0  fri  86.2
1  tue  90.6

In [30]:
print(df.describe())
print(df.columns)
print(df.shape)

                X           Y        FFMC         DMC          DC         ISI  \
count  517.000000  517.000000  517.000000  517.000000  517.000000  517.000000
mean     4.669246    4.299807   90.644681  110.872340  547.940039    9.021663
std      2.313778    1.229900    5.520111   64.046482  248.066192    4.559477
min      1.000000    2.000000   18.700000    1.100000    7.900000    0.000000
25%      3.000000    4.000000   90.200000   68.600000  437.700000    6.500000
50%      4.000000    4.000000   91.600000  108.300000  664.200000    8.400000
75%      7.000000    5.000000   92.900000  142.400000  713.900000   10.800000
max      9.000000    9.000000   96.200000  291.300000  860.600000   56.100000

             temp          RH        wind        rain         area
count  517.000000  517.000000  517.000000  517.000000   517.000000
mean    18.889168   44.288201    4.017602    0.021663    12.847292
std      5.806625   16.317469    1.791653    0.295959    63.655818
min      2.200000   15.000000    0.400000    0.000000     0.000000
25%     15.500000   33.000000    2.700000    0.000000     0.000000
50%     19.300000   42.000000    4.000000    0.000000     0.520000
75%     22.800000   53.000000    4.900000    0.000000     6.570000
max     33.300000  100.000000    9.400000    6.400000  1090.840000
Index(['X', 'Y', 'month', 'day', 'FFMC', 'DMC', 'DC', 'ISI', 'temp', 'RH',
       'wind', 'rain', 'area'],
      dtype='object')
(517, 13)

** Different Ways of fetching rows/columns **

In [31]:
print(type(df.iloc[0]))
df.iloc[0] #Gives Series

<class 'pandas.core.series.Series'>

X           7
Y           5
month     mar
day       fri
FFMC     86.2
DMC      26.2
DC       94.3
ISI       5.1
temp      8.2
RH         51
wind      6.7
rain        0
area        0
Name: 0, dtype: object

In [32]:
print(type(df.iloc[0:1]))
df.iloc[0:1] # Gived Data Frame

<class 'pandas.core.frame.DataFrame'>

   X  Y month  day  FFMC   DMC    DC  ISI  temp  RH  wind  rain  area
0  7  5   mar  fri  86.2  26.2  94.3  5.1   8.2  51   6.7   0.0   0.0

In [33]:
df[1::2].head(10)

    X  Y month  day  FFMC    DMC     DC   ISI  temp  RH  wind  rain  area
1   7  4   oct  tue  90.6   35.4  669.1   6.7  18.0  33   0.9   0.0   0.0
3   8  6   mar  fri  91.7   33.3   77.5   9.0   8.3  97   4.0   0.2   0.0
5   8  6   aug  sun  92.3   85.3  488.0  14.7  22.2  29   5.4   0.0   0.0
7   8  6   aug  mon  91.5  145.4  608.2  10.7   8.0  86   2.2   0.0   0.0
9   7  5   sep  sat  92.5   88.0  698.6   7.1  22.8  40   4.0   0.0   0.0
11  7  5   sep  sat  92.8   73.2  713.0  22.6  19.3  38   4.0   0.0   0.0
13  6  5   sep  mon  90.9  126.5  686.5   7.0  21.3  42   2.2   0.0   0.0
15  6  5   sep  fri  93.3  141.2  713.9  13.9  22.9  44   5.4   0.0   0.0
17  8  5   oct  mon  84.9   32.8  664.2   3.0  16.7  47   4.9   0.0   0.0
19  6  4   apr  sat  86.3   27.4   97.1   5.1   9.3  44   4.5   0.0   0.0

In [34]:
df[df.index % 2 == 0] #Even index position row

     X  Y month  day  FFMC    DMC     DC   ISI  temp  RH  wind  rain   area
0    7  5   mar  fri  86.2   26.2   94.3   5.1   8.2  51   6.7   0.0   0.00
2    7  4   oct  sat  90.6   43.7  686.9   6.7  14.6  33   1.3   0.0   0.00
4    8  6   mar  sun  89.3   51.3  102.2   9.6  11.4  99   1.8   0.0   0.00
6    8  6   aug  mon  92.3   88.9  495.6   8.5  24.1  27   3.1   0.0   0.00
8    8  6   sep  tue  91.0  129.5  692.6   7.0  13.1  63   5.4   0.0   0.00
10   7  5   sep  sat  92.5   88.0  698.6   7.1  17.8  51   7.2   0.0   0.00
12   6  5   aug  fri  63.5   70.8  665.3   0.8  17.0  72   6.7   0.0   0.00
14   6  5   sep  wed  92.9  133.3  699.6   9.2  26.4  21   4.5   0.0   0.00
16   5  5   mar  sat  91.7   35.8   80.8   7.8  15.1  27   5.4   0.0   0.00
18   6  4   mar  wed  89.2   27.9   70.8   6.3  15.9  35   4.0   0.0   0.00
20   6  4   sep  tue  91.0  129.5  692.6   7.0  18.3  40   2.7   0.0   0.00
22   7  4   jun  sun  94.3   96.3  200.0  56.1  21.0  44   4.5   0.0   0.00
24   7  4   aug  sat  93.5  139.4  594.2  20.3  23.7  32   5.8   0.0   0.00
26   7  4   sep  fri  92.4  117.9  668.0  12.2  19.0  34   5.8   0.0   0.00
28   6  3   sep  sat  93.4  145.4  721.4   8.1  30.2  24   2.7   0.0   0.00
30   6  3   sep  fri  94.3   85.1  692.3  15.9  25.4  24   3.6   0.0   0.00
32   6  3   sep  fri  88.6   69.7  706.8   5.8  20.6  37   1.8   0.0   0.00
34   6  3   sep  mon  91.8   78.5  724.3   9.2  21.2  32   2.7   0.0   0.00
36   6  3   oct  tue  90.6   35.4  669.1   6.7  21.7  24   4.5   0.0   0.00
38   7  3   oct  sat  90.6   43.7  686.9   6.7  17.8  27   4.0   0.0   0.00
40   4  4   jul  tue  79.5   60.6  366.7   1.5  23.3  37   3.1   0.0   0.00
42   4  4   aug  tue  94.8  108.3  647.1  17.0  16.6  54   5.4   0.0   0.00
44   4  4   sep  wed  90.1   82.9  735.7   6.2  12.9  74   4.9   0.0   0.00
46   5  6   sep  mon  90.9  126.5  686.5   7.0  14.7  70   3.6   0.0   0.00
48   4  4   mar  mon  87.2   23.9   64.7   4.1  11.8  35   1.8   0.0   0.00
50   4  4   sep  thu  92.9  137.0  706.4   9.2  20.8  17   1.3   0.0   0.00
52   4  3   aug  wed  92.1  111.2  654.1   9.6  20.4  42   4.9   0.0   0.00
54   4  3   aug  thu  91.7  114.3  661.3   6.3  17.6  45   3.6   0.0   0.00
56   4  3   sep  tue  90.3   80.7  730.2   6.3  17.8  63   4.9   0.0   0.00
58   2  2   feb  mon  84.0    9.3   34.0   2.1  13.9  40   5.4   0.0   0.00
..  .. ..   ...  ...   ...    ...    ...   ...   ...  ..   ...   ...    ...
458  8  6   aug  sat  93.7  231.1  715.1   8.4  18.9  64   4.9   0.0   3.32
460  2  5   aug  sat  93.7  231.1  715.1   8.4  18.9  64   4.9   0.0   0.00
462  1  4   sep  sun  91.0  276.3  825.1   7.1  14.5  76   7.6   0.0   3.71
464  6  4   feb  tue  75.1    4.4   16.2   1.9   5.1  77   5.4   0.0   2.14
466  6  5   mar  mon  87.2   15.1   36.9   7.1  10.2  45   5.8   0.0   3.18
468  6  5   mar  thu  91.3   20.6   43.5   8.5  13.3  27   3.6   0.0   6.61
470  5  4   apr  sun  91.0   14.6   25.6  12.3  17.6  27   5.8   0.0   0.00
472  8  3   jun  mon  88.2   96.2  229.0   4.7  14.3  79   4.0   0.0   1.94
474  4  3   jun  thu  93.0  103.8  316.7  10.8  26.4  35   2.7   0.0  10.08
476  4  3   jul  thu  93.5   85.3  395.0   9.9  27.2  28   1.3   0.0   1.76
478  7  4   jul  sun  93.7  101.3  423.4  14.7  18.2  82   4.5   0.0   2.21
480  9  9   jul  thu  93.2  114.4  560.0   9.5  30.2  25   4.5   0.0   2.75
482  3  4   aug  sun  94.9  130.3  587.1  14.1  23.4  40   5.8   0.0   1.29
484  2  5   aug  sun  94.9  130.3  587.1  14.1  33.1  25   4.0   0.0  26.43
486  5  4   aug  tue  95.1  141.3  605.8  17.7  24.1  43   6.3   0.0   2.00
488  4  4   aug  tue  95.1  141.3  605.8  17.7  19.4  71   7.6   0.0  46.70
490  4  4   aug  wed  95.1  141.3  605.8  17.7  28.7  33   4.0   0.0   0.00
492  1  3   aug  fri  95.9  158.0  633.6  11.3  32.4  27   2.2   0.0   0.00
494  6  6   aug  sat  96.0  164.0  643.0  14.0  30.8  30   4.9   0.0   8.59
496  4  5   aug  mon  96.2  175.5  661.8  16.8  32.6  26   3.1   0.0   2.77
498  6  5   aug  tue  96.1  181.1  671.2  14.3  33.3  26   2.7   0.0  40.54
500  8  6   aug  tue  96.1  181.1  671.2  14.3  21.6  65   4.9   0.8   0.00
502  4  4   aug  tue  96.1  181.1  671.2  14.3  20.7  69   4.9   0.4   0.00
504  4  3   aug  wed  94.5  139.4  689.1  20.0  28.9  29   4.9   0.0  49.59
506  1  2   aug  fri  91.0  166.9  752.6   7.1  18.5  73   8.5   0.0   0.00
508  1  2   aug  fri  91.0  166.9  752.6   7.1  25.9  41   3.6   0.0   0.00
510  6  5   aug  fri  91.0  166.9  752.6   7.1  18.2  62   5.4   0.0   0.43
512  4  3   aug  sun  81.6   56.7  665.6   1.9  27.8  32   2.7   0.0   6.44
514  7  4   aug  sun  81.6   56.7  665.6   1.9  21.2  70   6.7   0.0  11.16
516  6  3   nov  tue  79.5    3.0  106.7   1.1  11.8  31   4.5   0.0   0.00

[259 rows x 13 columns]

In [35]:
df["day"].head(2)  # returns Series, because of only one column fetch

0    fri
1    tue
Name: day, dtype: object

In [36]:
# returns DF , becase of 2 D array use to fecth data, so python assume few more rows can be fecth hence DF returns
df[["day"]].head(2)

   day
0  fri
1  tue

In [37]:
df[["X","day"]].head(2) #Multiple Column

   X  day
0  7  fri
1  7  tue

In [38]:
df.iloc[:,[2,3,4]].head() # fetch all rows of column 3,4,5

  month  day  FFMC
0   mar  fri  86.2
1   oct  tue  90.6
2   oct  sat  90.6
3   mar  fri  91.7
4   mar  sun  89.3

In [39]:
df1 = df.set_index("X")

** iloc = Used to fecthed index based / Position Based values - irrespective of custom index ** <br>
** loc = Used for fecthed data based on label or index value - in case of custom index it will return specific value of index **

In [40]:
df1.iloc[[7,8]]

   Y month  day  FFMC    DMC     DC   ISI  temp  RH  wind  rain  area
X
8  6   aug  mon  91.5  145.4  608.2  10.7   8.0  86   2.2   0.0   0.0
8  6   sep  tue  91.0  129.5  692.6   7.0  13.1  63   5.4   0.0   0.0

In [41]:
df1.loc[[7,8]]

    Y month  day  FFMC    DMC     DC   ISI  temp  RH  wind  rain    area
X
7   5   mar  fri  86.2   26.2   94.3   5.1   8.2  51   6.7   0.0    0.00
7   4   oct  tue  90.6   35.4  669.1   6.7  18.0  33   0.9   0.0    0.00
7   4   oct  sat  90.6   43.7  686.9   6.7  14.6  33   1.3   0.0    0.00
7   5   sep  sat  92.5   88.0  698.6   7.1  22.8  40   4.0   0.0    0.00
7   5   sep  sat  92.5   88.0  698.6   7.1  17.8  51   7.2   0.0    0.00
7   5   sep  sat  92.8   73.2  713.0  22.6  19.3  38   4.0   0.0    0.00
7   4   jun  sun  94.3   96.3  200.0  56.1  21.0  44   4.5   0.0    0.00
7   4   aug  sat  90.2  110.9  537.4   6.2  19.5  43   5.8   0.0    0.00
7   4   aug  sat  93.5  139.4  594.2  20.3  23.7  32   5.8   0.0    0.00
7   4   aug  sun  91.4  142.4  601.4  10.6  16.3  60   5.4   0.0    0.00
7   4   sep  fri  92.4  117.9  668.0  12.2  19.0  34   5.8   0.0    0.00
7   4   sep  mon  90.9  126.5  686.5   7.0  19.4  48   1.3   0.0    0.00
7   4   oct  fri  90.0   41.5  682.6   8.7  11.3  60   5.4   0.0    0.00
7   3   oct  sat  90.6   43.7  686.9   6.7  17.8  27   4.0   0.0    0.00
7   4   aug  sun  94.8  108.3  647.1  17.0  16.4  47   1.3   0.0    1.56
7   4   sep  fri  92.4  117.9  668.0  12.2  19.0  34   5.8   0.0    1.69
7   4   mar  mon  90.1   39.7   86.6   6.2  16.1  29   3.1   0.0    1.75
7   4   aug  sun  91.4  142.4  601.4  10.6  20.1  39   5.4   0.0    2.74
7   4   oct  mon  91.7   48.5  696.1  11.1  16.8  45   4.5   0.0    6.83
7   4   mar  sun  90.7   44.0   92.4   5.5  11.5  60   4.0   0.0    8.24
7   4   feb  sun  83.9    8.7   32.1   2.1   8.8  68   2.2   0.0   13.05
7   5   sep  tue  91.0  129.5  692.6   7.0  20.7  37   2.2   0.0   17.20
7   4   aug  sat  93.5  139.4  594.2  20.3   5.1  96   5.8   0.0   26.00
7   4   sep  fri  94.3   85.1  692.3  15.9  20.1  47   4.9   0.0   26.13
7   3   mar  mon  87.6   52.2  103.8   5.0  11.0  46   5.8   0.0   27.35
7   4   sep  wed  90.1   82.9  735.7   6.2  15.4  57   4.5   0.0   37.71
7   5   oct  mon  91.7   48.5  696.1  11.1  16.1  44   4.0   0.0   49.37
7   5   apr  sun  81.9    3.0    7.9   3.5  13.4  75   1.8   0.0    0.00
7   4   aug  sun  91.8  175.1  700.7  13.8  21.9  73   7.6   1.0    0.00
7   4   aug  thu  91.9  109.2  565.5   8.0  21.4  38   2.7   0.0    1.52
.. ..   ...  ...   ...    ...    ...   ...   ...  ..   ...   ...     ...
8   6   aug  sat  94.2  117.2  581.1  11.0  23.9  41   2.2   0.0    8.02
8   6   aug  tue  92.1  152.6  658.2  14.3  20.1  58   4.5   0.0    9.27
8   6   dec  wed  84.0   27.8  354.6   5.3   5.1  61   8.0   0.0   11.19
8   6   jul  tue  92.3   88.8  440.9   8.5  17.1  67   3.6   0.0    6.57
8   6   jun  sun  90.4   89.5  290.8   6.4  15.4  45   2.2   0.0    0.00
8   6   jun  wed  91.2  147.8  377.2  12.7  19.6  43   4.9   0.0    0.00
8   6   sep  mon  91.6  108.4  764.0   6.2  22.7  35   2.2   0.0    7.48
8   6   sep  mon  91.9  111.7  770.3   6.5  15.7  51   2.2   0.0    0.00
8   6   sep  mon  91.5  130.1  807.1   7.5  15.9  51   4.5   0.0    2.18
8   6   aug  mon  92.1  207.0  672.6   8.2  21.1  54   2.2   0.0    0.00
8   6   aug  thu  90.7  194.1  643.0   6.8  16.2  63   2.7   0.0   16.33
8   6   aug  wed  95.2  217.7  690.0  18.0  28.2  29   1.8   0.0    5.86
8   4   aug  sat  91.6  273.8  819.1   7.7  21.3  44   4.5   0.0   12.18
8   6   sep  fri  91.1   91.3  738.1   7.2  20.7  46   2.7   0.0   30.18
8   6   aug  thu  90.7  194.1  643.0   6.8  21.3  41   3.6   0.0    0.00
8   6   aug  thu  94.8  222.4  698.6  13.9  27.5  27   4.9   0.0  746.28
8   8   aug  wed  91.7  191.4  635.9   7.8  26.2  36   4.5   0.0  185.76
8   6   jul  sun  88.9  263.1  795.9   5.2  29.3  27   3.6   0.0    6.30
8   6   aug  sat  93.7  231.1  715.1   8.4  26.9  31   3.6   0.0    4.96
8   6   aug  thu  91.6  248.4  753.8   6.3  20.4  56   2.2   0.0    0.00
8   6   aug  thu  94.8  222.4  698.6  13.9  23.9  38   6.7   0.0    0.00
8   6   aug  mon  92.1  207.0  672.6   8.2  26.8  35   1.3   0.0    0.54
8   6   aug  sat  89.4  253.6  768.4   9.7  14.2  73   2.7   0.0    0.00
8   6   aug  mon  92.1  207.0  672.6   8.2  25.5  29   1.8   0.0    1.23
8   6   aug  sat  93.7  231.1  715.1   8.4  18.9  64   4.9   0.0    3.32
8   6   aug  sat  93.7  231.1  715.1   8.4  18.9  64   4.9   0.0    0.00
8   3   jun  mon  88.2   96.2  229.0   4.7  14.3  79   4.0   0.0    1.94
8   6   aug  sun  94.9  130.3  587.1  14.1  31.0  27   5.4   0.0    0.00
8   6   aug  tue  96.1  181.1  671.2  14.3  21.6  65   4.9   0.8    0.00
8   6   aug  sun  81.6   56.7  665.6   1.9  27.8  35   2.7   0.0    0.00

[121 rows x 12 columns]

**Sorting**

In [42]:
df.sort_index(ascending=False).head()

     X  Y month  day  FFMC    DMC     DC   ISI  temp  RH  wind  rain   area
516  6  3   nov  tue  79.5    3.0  106.7   1.1  11.8  31   4.5   0.0   0.00
515  1  4   aug  sat  94.4  146.0  614.7  11.3  25.6  42   4.0   0.0   0.00
514  7  4   aug  sun  81.6   56.7  665.6   1.9  21.2  70   6.7   0.0  11.16
513  2  4   aug  sun  81.6   56.7  665.6   1.9  21.9  71   5.8   0.0  54.29
512  4  3   aug  sun  81.6   56.7  665.6   1.9  27.8  32   2.7   0.0   6.44

In [43]:
df.sort_values(by=["FFMC","temp"]).head(10)

     X  Y month  day  FFMC   DMC     DC  ISI  temp   RH  wind  rain   area
379  4  5   jan  sun  18.7   1.1  171.4  0.0   5.2  100   0.9   0.0   0.00
312  2  4   sep  sun  50.4  46.2  706.6  0.4  12.2   78   6.3   0.0   0.00
299  6  5   jun  sat  53.4  71.0  233.8  0.4  10.6   90   2.7   0.0   0.00
12   6  5   aug  fri  63.5  70.8  665.3  0.8  17.0   72   6.7   0.0   0.00
199  2  4   sep  mon  63.5  70.8  665.3  0.8  22.6   38   3.6   0.0  11.32
130  4  6   feb  sat  68.2  21.5   87.2  0.8  15.4   40   2.7   0.0   0.00
97   3  4   mar  sat  69.0   2.4   15.5  0.7  17.4   24   5.4   0.0   0.00
463  6  5   feb  tue  75.1   4.4   16.2  1.9   4.6   82   6.3   0.0   5.39
464  6  4   feb  tue  75.1   4.4   16.2  1.9   5.1   77   5.4   0.0   2.14
465  2  2   feb  sat  79.5   3.6   15.3  1.8   4.6   59   0.9   0.0   6.84

In [44]:
df.set_index("X")

    Y month  day  FFMC    DMC     DC   ISI  temp  RH  wind  rain   area
X
7   5   mar  fri  86.2   26.2   94.3   5.1   8.2  51   6.7   0.0   0.00
7   4   oct  tue  90.6   35.4  669.1   6.7  18.0  33   0.9   0.0   0.00
7   4   oct  sat  90.6   43.7  686.9   6.7  14.6  33   1.3   0.0   0.00
8   6   mar  fri  91.7   33.3   77.5   9.0   8.3  97   4.0   0.2   0.00
8   6   mar  sun  89.3   51.3  102.2   9.6  11.4  99   1.8   0.0   0.00
8   6   aug  sun  92.3   85.3  488.0  14.7  22.2  29   5.4   0.0   0.00
8   6   aug  mon  92.3   88.9  495.6   8.5  24.1  27   3.1   0.0   0.00
8   6   aug  mon  91.5  145.4  608.2  10.7   8.0  86   2.2   0.0   0.00
8   6   sep  tue  91.0  129.5  692.6   7.0  13.1  63   5.4   0.0   0.00
7   5   sep  sat  92.5   88.0  698.6   7.1  22.8  40   4.0   0.0   0.00
7   5   sep  sat  92.5   88.0  698.6   7.1  17.8  51   7.2   0.0   0.00
7   5   sep  sat  92.8   73.2  713.0  22.6  19.3  38   4.0   0.0   0.00
6   5   aug  fri  63.5   70.8  665.3   0.8  17.0  72   6.7   0.0   0.00
6   5   sep  mon  90.9  126.5  686.5   7.0  21.3  42   2.2   0.0   0.00
6   5   sep  wed  92.9  133.3  699.6   9.2  26.4  21   4.5   0.0   0.00
6   5   sep  fri  93.3  141.2  713.9  13.9  22.9  44   5.4   0.0   0.00
5   5   mar  sat  91.7   35.8   80.8   7.8  15.1  27   5.4   0.0   0.00
8   5   oct  mon  84.9   32.8  664.2   3.0  16.7  47   4.9   0.0   0.00
6   4   mar  wed  89.2   27.9   70.8   6.3  15.9  35   4.0   0.0   0.00
6   4   apr  sat  86.3   27.4   97.1   5.1   9.3  44   4.5   0.0   0.00
6   4   sep  tue  91.0  129.5  692.6   7.0  18.3  40   2.7   0.0   0.00
5   4   sep  mon  91.8   78.5  724.3   9.2  19.1  38   2.7   0.0   0.00
7   4   jun  sun  94.3   96.3  200.0  56.1  21.0  44   4.5   0.0   0.00
7   4   aug  sat  90.2  110.9  537.4   6.2  19.5  43   5.8   0.0   0.00
7   4   aug  sat  93.5  139.4  594.2  20.3  23.7  32   5.8   0.0   0.00
7   4   aug  sun  91.4  142.4  601.4  10.6  16.3  60   5.4   0.0   0.00
7   4   sep  fri  92.4  117.9  668.0  12.2  19.0  34   5.8   0.0   0.00
7   4   sep  mon  90.9  126.5  686.5   7.0  19.4  48   1.3   0.0   0.00
6   3   sep  sat  93.4  145.4  721.4   8.1  30.2  24   2.7   0.0   0.00
6   3   sep  sun  93.5  149.3  728.6   8.1  22.8  39   3.6   0.0   0.00
.. ..   ...  ...   ...    ...    ...   ...   ...  ..   ...   ...    ...
5   4   aug  tue  95.1  141.3  605.8  17.7  26.4  34   3.6   0.0  16.40
4   4   aug  tue  95.1  141.3  605.8  17.7  19.4  71   7.6   0.0  46.70
4   4   aug  wed  95.1  141.3  605.8  17.7  20.6  58   1.3   0.0   0.00
4   4   aug  wed  95.1  141.3  605.8  17.7  28.7  33   4.0   0.0   0.00
4   4   aug  thu  95.8  152.0  624.1  13.8  32.4  21   4.5   0.0   0.00
1   3   aug  fri  95.9  158.0  633.6  11.3  32.4  27   2.2   0.0   0.00
1   3   aug  fri  95.9  158.0  633.6  11.3  27.5  29   4.5   0.0  43.32
6   6   aug  sat  96.0  164.0  643.0  14.0  30.8  30   4.9   0.0   8.59
6   6   aug  mon  96.2  175.5  661.8  16.8  23.9  42   2.2   0.0   0.00
4   5   aug  mon  96.2  175.5  661.8  16.8  32.6  26   3.1   0.0   2.77
3   4   aug  tue  96.1  181.1  671.2  14.3  32.3  27   2.2   0.0  14.68
6   5   aug  tue  96.1  181.1  671.2  14.3  33.3  26   2.7   0.0  40.54
7   5   aug  tue  96.1  181.1  671.2  14.3  27.3  63   4.9   6.4  10.82
8   6   aug  tue  96.1  181.1  671.2  14.3  21.6  65   4.9   0.8   0.00
7   5   aug  tue  96.1  181.1  671.2  14.3  21.6  65   4.9   0.8   0.00
4   4   aug  tue  96.1  181.1  671.2  14.3  20.7  69   4.9   0.4   0.00
2   4   aug  wed  94.5  139.4  689.1  20.0  29.2  30   4.9   0.0   1.95
4   3   aug  wed  94.5  139.4  689.1  20.0  28.9  29   4.9   0.0  49.59
1   2   aug  thu  91.0  163.2  744.4  10.1  26.7  35   1.8   0.0   5.80
1   2   aug  fri  91.0  166.9  752.6   7.1  18.5  73   8.5   0.0   0.00
2   4   aug  fri  91.0  166.9  752.6   7.1  25.9  41   3.6   0.0   0.00
1   2   aug  fri  91.0  166.9  752.6   7.1  25.9  41   3.6   0.0   0.00
5   4   aug  fri  91.0  166.9  752.6   7.1  21.1  71   7.6   1.4   2.17
6   5   aug  fri  91.0  166.9  752.6   7.1  18.2  62   5.4   0.0   0.43
8   6   aug  sun  81.6   56.7  665.6   1.9  27.8  35   2.7   0.0   0.00
4   3   aug  sun  81.6   56.7  665.6   1.9  27.8  32   2.7   0.0   6.44
2   4   aug  sun  81.6   56.7  665.6   1.9  21.9  71   5.8   0.0  54.29
7   4   aug  sun  81.6   56.7  665.6   1.9  21.2  70   6.7   0.0  11.16
1   4   aug  sat  94.4  146.0  614.7  11.3  25.6  42   4.0   0.0   0.00
6   3   nov  tue  79.5    3.0  106.7   1.1  11.8  31   4.5   0.0   0.00

[517 rows x 12 columns]

** Conditional Data fetching **

In [45]:
df.head(2)

   X  Y month  day  FFMC   DMC     DC  ISI  temp  RH  wind  rain  area
0  7  5   mar  fri  86.2  26.2   94.3  5.1   8.2  51   6.7   0.0   0.0
1  7  4   oct  tue  90.6  35.4  669.1  6.7  18.0  33   0.9   0.0   0.0

In [46]:
#'area' is greater than 0, 'wind' is greater than 1 and the 'temp' is greater than 15

df[(df["area"] > 0) & (df["wind"] > 1) & (df["temp"] > 15)]

     X  Y month  day  FFMC    DMC     DC   ISI  temp  RH  wind  rain    area
138  9  9   jul  tue  85.8   48.3  313.4   3.9  18.0  42   2.7   0.0    0.36
139  1  4   sep  tue  91.0  129.5  692.6   7.0  21.7  38   2.2   0.0    0.43
140  2  5   sep  mon  90.9  126.5  686.5   7.0  21.9  39   1.8   0.0    0.47
141  1  2   aug  wed  95.5   99.9  513.3  13.2  23.3  31   4.5   0.0    0.55
142  8  6   aug  fri  90.1  108.0  529.8  12.5  21.2  51   8.9   0.0    0.61
143  1  2   jul  sat  90.0   51.3  296.3   8.7  16.6  53   5.4   0.0    0.71
144  2  5   aug  wed  95.5   99.9  513.3  13.2  23.8  32   5.4   0.0    0.77
145  6  5   aug  thu  95.2  131.7  578.8  10.4  27.4  22   4.0   0.0    0.90
147  8  3   sep  tue  84.4   73.4  671.9   3.2  24.2  28   3.6   0.0    0.96
148  2  2   aug  tue  94.8  108.3  647.1  17.0  17.4  43   6.7   0.0    1.07
149  8  6   sep  thu  93.7   80.9  685.2  17.9  23.7  25   4.5   0.0    1.12
150  6  5   jun  fri  92.5   56.4  433.3   7.1  23.2  39   5.4   0.0    1.19
151  9  9   jul  sun  90.1   68.6  355.2   7.2  24.8  29   2.2   0.0    1.36
152  3  4   jul  sat  90.1   51.2  424.1   6.2  24.6  43   1.8   0.0    1.43
153  5  4   sep  fri  94.3   85.1  692.3  15.9  20.1  47   4.9   0.0    1.46
154  1  5   sep  sat  93.4  145.4  721.4   8.1  29.6  27   2.7   0.0    1.46
155  7  4   aug  sun  94.8  108.3  647.1  17.0  16.4  47   1.3   0.0    1.56
156  2  4   sep  sat  93.4  145.4  721.4   8.1  28.6  27   2.2   0.0    1.61
157  2  2   aug  wed  92.1  111.2  654.1   9.6  18.4  45   3.6   0.0    1.63
158  2  4   aug  wed  92.1  111.2  654.1   9.6  20.5  35   4.0   0.0    1.64
159  7  4   sep  fri  92.4  117.9  668.0  12.2  19.0  34   5.8   0.0    1.69
160  7  4   mar  mon  90.1   39.7   86.6   6.2  16.1  29   3.1   0.0    1.75
161  6  4   aug  thu  95.2  131.7  578.8  10.4  20.3  41   4.0   0.0    1.90
162  6  3   mar  sat  90.6   50.1  100.4   7.8  15.2  31   8.5   0.0    1.94
163  8  6   sep  sat  92.5  121.1  674.4   8.6  17.8  56   1.8   0.0    1.95
164  8  5   sep  sun  89.7   90.0  704.4   4.8  17.8  67   2.2   0.0    2.01
167  6  5   aug  wed  96.0  127.1  570.5  16.5  23.4  33   4.5   0.0    2.51
169  8  6   aug  thu  95.2  131.7  578.8  10.4  20.7  45   2.2   0.0    2.55
170  5  4   sep  wed  92.9  133.3  699.6   9.2  21.9  35   1.8   0.0    2.57
171  8  6   aug  wed  85.6   90.4  609.6   6.6  17.4  50   4.0   0.0    2.69
..  .. ..   ...  ...   ...    ...    ...   ...   ...  ..   ...   ...     ...
459  7  4   aug  sat  91.6  273.8  819.1   7.7  15.5  72   8.0   0.0    1.94
471  4  3   may  fri  89.6   25.4   73.7   5.7  18.0  40   4.0   0.0   38.48
473  9  4   jun  sat  90.5   61.1  252.6   9.4  24.5  50   3.1   0.0   70.32
474  4  3   jun  thu  93.0  103.8  316.7  10.8  26.4  35   2.7   0.0   10.08
475  2  5   jun  thu  93.7  121.7  350.2  18.0  22.7  40   9.4   0.0    3.19
476  4  3   jul  thu  93.5   85.3  395.0   9.9  27.2  28   1.3   0.0    1.76
477  4  3   jul  sun  93.7  101.3  423.4  14.7  26.1  45   4.0   0.0    7.36
478  7  4   jul  sun  93.7  101.3  423.4  14.7  18.2  82   4.5   0.0    2.21
479  7  4   jul  mon  89.2  103.9  431.6   6.4  22.6  57   4.9   0.0  278.53
480  9  9   jul  thu  93.2  114.4  560.0   9.5  30.2  25   4.5   0.0    2.75
482  3  4   aug  sun  94.9  130.3  587.1  14.1  23.4  40   5.8   0.0    1.29
484  2  5   aug  sun  94.9  130.3  587.1  14.1  33.1  25   4.0   0.0   26.43
485  2  4   aug  mon  95.0  135.5  596.3  21.3  30.6  28   3.6   0.0    2.07
486  5  4   aug  tue  95.1  141.3  605.8  17.7  24.1  43   6.3   0.0    2.00
487  5  4   aug  tue  95.1  141.3  605.8  17.7  26.4  34   3.6   0.0   16.40
488  4  4   aug  tue  95.1  141.3  605.8  17.7  19.4  71   7.6   0.0   46.70
493  1  3   aug  fri  95.9  158.0  633.6  11.3  27.5  29   4.5   0.0   43.32
494  6  6   aug  sat  96.0  164.0  643.0  14.0  30.8  30   4.9   0.0    8.59
496  4  5   aug  mon  96.2  175.5  661.8  16.8  32.6  26   3.1   0.0    2.77
497  3  4   aug  tue  96.1  181.1  671.2  14.3  32.3  27   2.2   0.0   14.68
498  6  5   aug  tue  96.1  181.1  671.2  14.3  33.3  26   2.7   0.0   40.54
499  7  5   aug  tue  96.1  181.1  671.2  14.3  27.3  63   4.9   6.4   10.82
503  2  4   aug  wed  94.5  139.4  689.1  20.0  29.2  30   4.9   0.0    1.95
504  4  3   aug  wed  94.5  139.4  689.1  20.0  28.9  29   4.9   0.0   49.59
505  1  2   aug  thu  91.0  163.2  744.4  10.1  26.7  35   1.8   0.0    5.80
509  5  4   aug  fri  91.0  166.9  752.6   7.1  21.1  71   7.6   1.4    2.17
510  6  5   aug  fri  91.0  166.9  752.6   7.1  18.2  62   5.4   0.0    0.43
512  4  3   aug  sun  81.6   56.7  665.6   1.9  27.8  32   2.7   0.0    6.44
513  2  4   aug  sun  81.6   56.7  665.6   1.9  21.9  71   5.8   0.0   54.29
514  7  4   aug  sun  81.6   56.7  665.6   1.9  21.2  70   6.7   0.0   11.16

[212 rows x 13 columns]

In [47]:
day = ["sun", "sat"]

df[df["day"].isin(day)].head()

    X  Y month  day  FFMC   DMC     DC   ISI  temp  RH  wind  rain  area
2   7  4   oct  sat  90.6  43.7  686.9   6.7  14.6  33   1.3   0.0   0.0
4   8  6   mar  sun  89.3  51.3  102.2   9.6  11.4  99   1.8   0.0   0.0
5   8  6   aug  sun  92.3  85.3  488.0  14.7  22.2  29   5.4   0.0   0.0
9   7  5   sep  sat  92.5  88.0  698.6   7.1  22.8  40   4.0   0.0   0.0
10  7  5   sep  sat  92.5  88.0  698.6   7.1  17.8  51   7.2   0.0   0.0

In [91]:
df_1 = pd.read_csv('DataSet/restaurant-1.csv')
df_2 = pd.read_csv('DataSet/restaurant-1.csv')

In [92]:
df_1.head()

,name,address,city,cuisine,unique_id
0,arnie morton's of chicago,"""435 s. la cienega blvd.""","""los angeles""","""steakhouses""",'0'
1,art's deli,"""12224 ventura blvd.""","""studio city""","""delis""",'1'
2,bel-air hotel,"""701 stone canyon rd.""","""bel air""","""californian""",'2'
3,cafe bizou,"""14016 ventura blvd.""","""sherman oaks""","""french bistro""",'3'
4,campanile,"""624 s. la brea ave.""","""los angeles""","""californian""",'4'

In [93]:
df_2.head()

,name,address,city,cuisine,unique_id
0,arnie morton's of chicago,"""435 s. la cienega blvd.""","""los angeles""","""steakhouses""",'0'
1,art's deli,"""12224 ventura blvd.""","""studio city""","""delis""",'1'
2,bel-air hotel,"""701 stone canyon rd.""","""bel air""","""californian""",'2'
3,cafe bizou,"""14016 ventura blvd.""","""sherman oaks""","""french bistro""",'3'
4,campanile,"""624 s. la brea ave.""","""los angeles""","""californian""",'4'

In [94]:
df_3 = pd.merge(df_1,df_2, how='inner', on='unique_id')

In [51]:
df_1.merge(df_2, how="inner", on ="unique_id")

,name_x,address_x,city_x,cuisine_x,unique_id,name_y,address_y,city_y,cuisine_y
0,arnie morton's of chicago,"""435 s. la cienega blvd.""","""los angeles""","""steakhouses""",'0',arnie morton's of chicago,"""435 s. la cienega blvd.""","""los angeles""","""steakhouses"""
1,art's deli,"""12224 ventura blvd.""","""studio city""","""delis""",'1',art's deli,"""12224 ventura blvd.""","""studio city""","""delis"""
2,bel-air hotel,"""701 stone canyon rd.""","""bel air""","""californian""",'2',bel-air hotel,"""701 stone canyon rd.""","""bel air""","""californian"""
3,cafe bizou,"""14016 ventura blvd.""","""sherman oaks""","""french bistro""",'3',cafe bizou,"""14016 ventura blvd.""","""sherman oaks""","""french bistro"""
4,campanile,"""624 s. la brea ave.""","""los angeles""","""californian""",'4',campanile,"""624 s. la brea ave.""","""los angeles""","""californian"""
5,chinois on main,"""2709 main st.""","""santa monica""","""pacific new wave""",'5',chinois on main,"""2709 main st.""","""santa monica""","""pacific new wave"""
6,citrus,"""6703 melrose ave.""","""los angeles""","""californian""",'6',citrus,"""6703 melrose ave.""","""los angeles""","""californian"""
7,fenix at the argyle,"""8358 sunset blvd.""","""w. hollywood""","""french (new)""",'7',fenix at the argyle,"""8358 sunset blvd.""","""w. hollywood""","""french (new)"""
8,granita,"""23725 w. malibu rd.""","""malibu""","""californian""",'8',granita,"""23725 w. malibu rd.""","""malibu""","""californian"""
9,grill the,"""9560 dayton way""","""beverly hills""","""american (traditional)""",'9',grill the,"""9560 dayton way""","""beverly hills""","""american (traditional)"""
10,katsu,"""1972 hillhurst ave.""","""los feliz""","""japanese""",'10',katsu,"""1972 hillhurst ave.""","""los feliz""","""japanese"""
11,l'orangerie,"""903 n. la cienega blvd.""","""w. hollywood""","""french (classic)""",'11',l'orangerie,"""903 n. la cienega blvd.""","""w. hollywood""","""french (classic)"""
12,le chardonnay (los angeles),"""8284 melrose ave.""","""los angeles""","""french bistro""",'12',le chardonnay (los angeles),"""8284 melrose ave.""","""los angeles""","""french bistro"""
13,locanda veneta,"""8638 w. third st.""","""los angeles""","""italian""",'13',locanda veneta,"""8638 w. third st.""","""los angeles""","""italian"""
14,matsuhisa,"""129 n. la cienega blvd.""","""beverly hills""","""seafood""",'14',matsuhisa,"""129 n. la cienega blvd.""","""beverly hills""","""seafood"""
15,palm the (los angeles),"""9001 santa monica blvd.""","""w. hollywood""","""steakhouses""",'15',palm the (los angeles),"""9001 santa monica blvd.""","""w. hollywood""","""steakhouses"""
16,patina,"""5955 melrose ave.""","""los angeles""","""californian""",'16',patina,"""5955 melrose ave.""","""los angeles""","""californian"""
17,philippe the original,"""1001 n. alameda st.""","""chinatown""","""cafeterias""",'17',philippe the original,"""1001 n. alameda st.""","""chinatown""","""cafeterias"""
18,pinot bistro,"""12969 ventura blvd.""","""studio city""","""french bistro""",'18',pinot bistro,"""12969 ventura blvd.""","""studio city""","""french bistro"""
19,rex il ristorante,"""617 s. olive st.""","""los angeles""","""nuova cucina italian""",'19',rex il ristorante,"""617 s. olive st.""","""los angeles""","""nuova cucina italian"""
20,spago (los angeles),"""8795 sunset blvd.""","""w. hollywood""","""californian""",'20',spago (los angeles),"""8795 sunset blvd.""","""w. hollywood""","""californian"""
21,valentino,"""3115 pico blvd.""","""santa monica""","""italian""",'21',valentino,"""3115 pico blvd.""","""santa monica""","""italian"""
22,yujean kang's,"""67 n. raymond ave.""","""pasadena""","""chinese""",'22',yujean kang's,"""67 n. raymond ave.""","""pasadena""","""chinese"""
23,21 club,"""21 w. 52nd st.""","""new york city""","""american (new)""",'23',21 club,"""21 w. 52nd st.""","""new york city""","""american (new)"""
24,aquavit,"""13 w. 54th st.""","""new york city""","""scandinavian""",'24',aquavit,"""13 w. 54th st.""","""new york city""","""scandinavian"""
25,aureole,"""34 e. 61st st.""","""new york city""","""american (new)""",'25',aureole,"""34 e. 61st st.""","""new york city""","""american (new)"""
26,cafe lalo,"""201 w. 83rd st.""","""new york city""","""coffeehouses""",'26',cafe lalo,"""201 w. 83rd st.""","""new york city""","""coffeehouses"""
27,cafe des artistes,"""1 w. 67th st.""","""new york city""","""french (classic)""",'27',cafe des artistes,"""1 w. 67th st.""","""new york city""","""french (classic)"""
28,carmine's,"""2450 broadway""","""new york city""","""italian""",'28',carmine's,"""2450 broadway""","""new york city""","""italian"""
29,carnegie deli,"""854 seventh ave.""","""new york city""","""delis""",'29',carnegie deli,"""854 seventh ave.""","""new york city""","""delis"""
...,...,...,...,...,...,...,...,...,...
82,hedgerose heights inn the,"""490 e. paces ferry rd. ne""","""atlanta""","""continental""",'82',hedgerose heights inn the,"""490 e. paces ferry rd. ne""","""atlanta""","""continental"""
83,heera of india,"""595 piedmont ave.""","""atlanta""","""indian""",'83',heera of india,"""595 piedmont ave.""","""atlanta""","""indian"""
84,indigo coastal grill,"""1397 n. highland ave.""","""atlanta""","""eclectic""",'84',indigo coastal grill,"""1397 n. highland ave.""","""atlanta""","""eclectic"""
85,la grotta,"""2637 peachtree rd. ne""","""atlanta""","""italian""",'85',la grotta,"""2637 peachtree rd. ne""","""atlanta""","""italian"""
86,mary mac's tea room,"""224 ponce de leon ave.""","""atlanta""","""southern/soul""",'86',mary mac's tea room,"""224 ponce de leon ave.""","""atlanta""","""southern/soul"""
87,nikolai's roof,"""255 courtland st.""","""atlanta""","""continental""",'87',nikolai's roof,"""255 courtland st.""","""atlanta""","""continental"""
88,pano's & paul's,"""1232 w. paces ferry rd.""","""atlanta""","""american (new)""",'88',pano's & paul's,"""1232 w. paces ferry rd.""","""atlanta""","""american (new)"""
89,ritz-carlton cafe (buckhead),"""3434 peachtree rd. ne""","""atlanta""","""american (new)""",'89',ritz-carlton cafe (buckhead),"""3434 peachtree rd. ne""","""atlanta""","""american (new)"""
90,ritz-carlton dining room (buckhead),"""3434 peachtree rd. ne""","""atlanta""","""american (new)""",'90',ritz-carlton dining room (buckhead),"""3434 peachtree rd. ne""","""atlanta""","""american (new)"""
91,ritz-carlton restaurant,"""181 peachtree st.""","""atlanta""","""french (classic)""",'91',ritz-carlton restaurant,"""181 peachtree st.""","""atlanta""","""french (classic)"""
92,toulouse,"""293-b peachtree rd.""","""atlanta""","""french (new)""",'92',toulouse,"""293-b peachtree rd.""","""atlanta""","""french (new)"""
93,veni vidi vici,"""41 14th st.""","""atlanta""","""italian""",'93',veni vidi vici,"""41 14th st.""","""atlanta""","""italian"""
94,alain rondelli,"""126 clement st.""","""san francisco""","""french (new)""",'94',alain rondelli,"""126 clement st.""","""san francisco""","""french (new)"""
95,aqua,"""252 california st.""","""san francisco""","""american (new)""",'95',aqua,"""252 california st.""","""san francisco""","""american (new)"""
96,boulevard,"""1 mission st.""","""san francisco""","""american (new)""",'96',boulevard,"""1 mission st.""","""san francisco""","""american (new)"""
97,cafe claude,"""7 claude ln.""","""san francisco""","""french bistro""",'97',cafe claude,"""7 claude ln.""","""san francisco""","""french bistro"""
98,campton place,"""340 stockton st.""","""san francisco""","""american (new)""",'98',campton place,"""340 stockton st.""","""san francisco""","""american (new)"""
99,chez michel,"""804 north point st.""","""san francisco""","""californian""",'99',chez michel,"""804 north point st.""","""san francisco""","""californian"""
100,fleur de lys,"""777 sutter st.""","""san francisco""","""french (new)""",'100',fleur de lys,"""777 sutter st.""","""san francisco""","""french (new)"""
101,fringale,"""570 fourth st.""","""san francisco""","""french bistro""",'101',fringale,"""570 fourth st.""","""san francisco""","""french bistro"""
102,hawthorne lane,"""22 hawthorne st.""","""san francisco""","""californian""",'102',hawthorne lane,"""22 hawthorne st.""","""san francisco""","""californian"""
103,khan toke thai house,"""5937 geary blvd.""","""san francisco""","""thai""",'103',khan toke thai house,"""5937 geary blvd.""","""san francisco""","""thai"""
104,la folie,"""2316 polk st.""","""san francisco""","""french (new)""",'104',la folie,"""2316 polk st.""","""san francisco""","""french (new)"""
105,lulu restaurant-bis-cafe,"""816 folsom st.""","""san francisco""","""mediterranean""",'105',lulu restaurant-bis-cafe,"""816 folsom st.""","""san francisco""","""mediterranean"""
106,masa's,"""648 bush st.""","""san francisco""","""french (new)""",'106',masa's,"""648 bush st.""","""san francisco""","""french (new)"""
107,mifune,"""1737 post st.""","""san francisco""","""japanese""",'107',mifune,"""1737 post st.""","""san francisco""","""japanese"""
108,plumpjack cafe,"""3127 fillmore st.""","""san francisco""","""american (new)""",'108',plumpjack cafe,"""3127 fillmore st.""","""san francisco""","""american (new)"""
109,postrio,"""545 post st.""","""san francisco""","""californian""",'109',postrio,"""545 post st.""","""san francisco""","""californian"""
110,ritz-carlton dining room (san francisco),"""600 stockton st.""","""san francisco""","""french (new)""",'110',ritz-carlton dining room (san francisco),"""600 stockton st.""","""san francisco""","""french (new)"""
111,rose pistola,"""532 columbus ave.""","""san francisco""","""italian""",'111',rose pistola,"""532 columbus ave.""","""san francisco""","""italian"""

In [52]:
df1 = pd.DataFrame(data={"Name" : ["Pravin", "Amol", "Rakesh"],
                        "Age" : [20,25,30]})

In [53]:
df2 = pd.DataFrame(data={"Name" : ["Pawar", "Mane", "Lobo"],
                        "Age" : [20,25,30]})

In [54]:
df1.append(df2)

   Age    Name
0   20  Pravin
1   25    Amol
2   30  Rakesh
0   20   Pawar
1   25    Mane
2   30    Lobo

In [55]:
df1.merge(df2, on="Age", how="inner")

   Age  Name_x Name_y
0   20  Pravin  Pawar
1   25    Amol   Mane
2   30  Rakesh   Lobo

In [56]:
pd.concat([df1,df2], axis=0)

   Age    Name
0   20  Pravin
1   25    Amol
2   30  Rakesh
0   20   Pawar
1   25    Mane
2   30    Lobo

In [57]:
df3=pd.concat([df1,df2], axis=1)
df3

   Age    Name  Age   Name
0   20  Pravin   20  Pawar
1   25    Amol   25   Mane
2   30  Rakesh   30   Lobo

In [58]:
df3["Age"]

   Age  Age
0   20   20
1   25   25
2   30   30

In [59]:
df1.add(df2)

   Age         Name
0   40  PravinPawar
1   50     AmolMane
2   60   RakeshLobo

In [60]:
gold = pd.DataFrame({'Country': ['USA', 'France', 'Russia'],
                         'Medals': [15, 13, 9]}
                    )
silver = pd.DataFrame({'Country': ['USA', 'Germany', 'Russia'],
                        'Medals': [29, 20, 16]}
                    )
bronze = pd.DataFrame({'Country': ['France', 'USA', 'UK'],
                        'Medals': [40, 28, 27]}
                    )

In [61]:
allMedals = gold.merge(silver, how="outer", on="Country")
allMedals = allMedals.merge(bronze, how="outer", on="Country")
allMedals.fillna(value=0, inplace=True)
allMedals["Total"] = allMedals["Medals_x"] + allMedals["Medals_y"] + allMedals["Medals"]
allMedals.sort_values(by="Total", ascending=False)

   Country  Medals_x  Medals_y  Medals  Total
0      USA      15.0      29.0    28.0   72.0
1   France      13.0       0.0    40.0   53.0
4       UK       0.0       0.0    27.0   27.0
2   Russia       9.0      16.0     0.0   25.0
3  Germany       0.0      20.0     0.0   20.0

In [62]:
resultDF = pd.DataFrame(data=allMedals, columns=["Country","Total"])
resultDF.set_index("Country", inplace=True)
resultDF.rename(columns={"Total":"Medals"}, inplace=True)

In [63]:
df1.head()

   Age    Name
0   20  Pravin
1   25    Amol
2   30  Rakesh

In [64]:
df_1 = pd.read_csv('DataSet/forestfires.csv')
df_1.head()

   X  Y month  day  FFMC   DMC     DC  ISI  temp  RH  wind  rain  area
0  7  5   mar  fri  86.2  26.2   94.3  5.1   8.2  51   6.7   0.0   0.0
1  7  4   oct  tue  90.6  35.4  669.1  6.7  18.0  33   0.9   0.0   0.0
2  7  4   oct  sat  90.6  43.7  686.9  6.7  14.6  33   1.3   0.0   0.0
3  8  6   mar  fri  91.7  33.3   77.5  9.0   8.3  97   4.0   0.2   0.0
4  8  6   mar  sun  89.3  51.3  102.2  9.6  11.4  99   1.8   0.0   0.0

In [65]:
groupDf = df_1.groupby(by=["month","day"])
df_result =  groupDf[["rain", "wind"]].min() 

pd.options.display.float_format = '{:.2f}'.format
print(df_1.head())

   X  Y month  day  FFMC   DMC     DC  ISI  temp  RH  wind  rain  area
0  7  5   mar  fri 86.20 26.20  94.30 5.10  8.20  51  6.70  0.00  0.00
1  7  4   oct  tue 90.60 35.40 669.10 6.70 18.00  33  0.90  0.00  0.00
2  7  4   oct  sat 90.60 43.70 686.90 6.70 14.60  33  1.30  0.00  0.00
3  8  6   mar  fri 91.70 33.30  77.50 9.00  8.30  97  4.00  0.20  0.00
4  8  6   mar  sun 89.30 51.30 102.20 9.60 11.40  99  1.80  0.00  0.00

In [66]:
df['XY'] = df['X'] * df['Y']
df.head()

   X  Y month  day  FFMC   DMC     DC  ISI  temp  RH  wind  rain  area  XY
0  7  5   mar  fri 86.20 26.20  94.30 5.10  8.20  51  6.70  0.00  0.00  35
1  7  4   oct  tue 90.60 35.40 669.10 6.70 18.00  33  0.90  0.00  0.00  28
2  7  4   oct  sat 90.60 43.70 686.90 6.70 14.60  33  1.30  0.00  0.00  28
3  8  6   mar  fri 91.70 33.30  77.50 9.00  8.30  97  4.00  0.20  0.00  48
4  8  6   mar  sun 89.30 51.30 102.20 9.60 11.40  99  1.80  0.00  0.00  48

** Apply Function to Data Frame **

In [67]:
#take sample data set
df1 = df.take(range(0,40,2))
df1

    X  Y month  day  FFMC    DMC     DC   ISI  temp  RH  wind  rain  area  XY
0   7  5   mar  fri 86.20  26.20  94.30  5.10  8.20  51  6.70  0.00  0.00  35
2   7  4   oct  sat 90.60  43.70 686.90  6.70 14.60  33  1.30  0.00  0.00  28
4   8  6   mar  sun 89.30  51.30 102.20  9.60 11.40  99  1.80  0.00  0.00  48
6   8  6   aug  mon 92.30  88.90 495.60  8.50 24.10  27  3.10  0.00  0.00  48
8   8  6   sep  tue 91.00 129.50 692.60  7.00 13.10  63  5.40  0.00  0.00  48
10  7  5   sep  sat 92.50  88.00 698.60  7.10 17.80  51  7.20  0.00  0.00  35
12  6  5   aug  fri 63.50  70.80 665.30  0.80 17.00  72  6.70  0.00  0.00  30
14  6  5   sep  wed 92.90 133.30 699.60  9.20 26.40  21  4.50  0.00  0.00  30
16  5  5   mar  sat 91.70  35.80  80.80  7.80 15.10  27  5.40  0.00  0.00  25
18  6  4   mar  wed 89.20  27.90  70.80  6.30 15.90  35  4.00  0.00  0.00  24
20  6  4   sep  tue 91.00 129.50 692.60  7.00 18.30  40  2.70  0.00  0.00  24
22  7  4   jun  sun 94.30  96.30 200.00 56.10 21.00  44  4.50  0.00  0.00  28
24  7  4   aug  sat 93.50 139.40 594.20 20.30 23.70  32  5.80  0.00  0.00  28
26  7  4   sep  fri 92.40 117.90 668.00 12.20 19.00  34  5.80  0.00  0.00  28
28  6  3   sep  sat 93.40 145.40 721.40  8.10 30.20  24  2.70  0.00  0.00  18
30  6  3   sep  fri 94.30  85.10 692.30 15.90 25.40  24  3.60  0.00  0.00  18
32  6  3   sep  fri 88.60  69.70 706.80  5.80 20.60  37  1.80  0.00  0.00  18
34  6  3   sep  mon 91.80  78.50 724.30  9.20 21.20  32  2.70  0.00  0.00  18
36  6  3   oct  tue 90.60  35.40 669.10  6.70 21.70  24  4.50  0.00  0.00  18
38  7  3   oct  sat 90.60  43.70 686.90  6.70 17.80  27  4.00  0.00  0.00  21

In [68]:
df1.describe()

,X,Y,FFMC,DMC,DC,ISI,temp,RH,wind,rain,area,XY
count,20.00,20.00,20.00,20.00,20.00,20.00,20.00,20.00,20.00,20.00,20.00,20.00
mean,6.60,4.25,89.98,81.82,532.12,10.80,19.12,39.85,4.21,0.00,0.00,28.50
std,0.82,1.07,6.55,40.10,256.25,11.40,5.37,19.43,1.75,0.00,0.00,9.98
min,5.00,3.00,63.50,26.20,70.80,0.80,8.20,21.00,1.30,0.00,0.00,18.00
25%,6.00,3.00,90.27,43.70,421.70,6.70,15.70,27.00,2.70,0.00,0.00,20.25
50%,6.50,4.00,91.35,81.80,678.00,7.45,18.65,33.50,4.25,0.00,0.00,28.00
75%,7.00,5.00,92.60,120.80,694.10,9.30,22.20,45.75,5.50,0.00,0.00,31.25
max,8.00,6.00,94.30,145.40,724.30,56.10,30.20,99.00,7.20,0.00,0.00,48.00

In [69]:
def tempCategory(t):
    cat = ""
    if t < 10 :
        cat = "Cold"
    elif t>= 10 and t < 20 :
        cat = "Normal"
    else:
        cat = "Hot"
    return cat

In [70]:
df1["TempCat"] = df["temp"].apply(tempCategory)
df1

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

,X,Y,month,day,FFMC,DMC,DC,ISI,temp,RH,wind,rain,area,XY,TempCat
0,7,5,mar,fri,86.20,26.20,94.30,5.10,8.20,51,6.70,0.00,0.00,35,Cold
2,7,4,oct,sat,90.60,43.70,686.90,6.70,14.60,33,1.30,0.00,0.00,28,Normal
4,8,6,mar,sun,89.30,51.30,102.20,9.60,11.40,99,1.80,0.00,0.00,48,Normal
6,8,6,aug,mon,92.30,88.90,495.60,8.50,24.10,27,3.10,0.00,0.00,48,Hot
8,8,6,sep,tue,91.00,129.50,692.60,7.00,13.10,63,5.40,0.00,0.00,48,Normal
10,7,5,sep,sat,92.50,88.00,698.60,7.10,17.80,51,7.20,0.00,0.00,35,Normal
12,6,5,aug,fri,63.50,70.80,665.30,0.80,17.00,72,6.70,0.00,0.00,30,Normal
14,6,5,sep,wed,92.90,133.30,699.60,9.20,26.40,21,4.50,0.00,0.00,30,Hot
16,5,5,mar,sat,91.70,35.80,80.80,7.80,15.10,27,5.40,0.00,0.00,25,Normal
18,6,4,mar,wed,89.20,27.90,70.80,6.30,15.90,35,4.00,0.00,0.00,24,Normal
20,6,4,sep,tue,91.00,129.50,692.60,7.00,18.30,40,2.70,0.00,0.00,24,Normal
22,7,4,jun,sun,94.30,96.30,200.00,56.10,21.00,44,4.50,0.00,0.00,28,Hot
24,7,4,aug,sat,93.50,139.40,594.20,20.30,23.70,32,5.80,0.00,0.00,28,Hot
26,7,4,sep,fri,92.40,117.90,668.00,12.20,19.00,34,5.80,0.00,0.00,28,Normal
28,6,3,sep,sat,93.40,145.40,721.40,8.10,30.20,24,2.70,0.00,0.00,18,Hot
30,6,3,sep,fri,94.30,85.10,692.30,15.90,25.40,24,3.60,0.00,0.00,18,Hot
32,6,3,sep,fri,88.60,69.70,706.80,5.80,20.60,37,1.80,0.00,0.00,18,Hot
34,6,3,sep,mon,91.80,78.50,724.30,9.20,21.20,32,2.70,0.00,0.00,18,Hot
36,6,3,oct,tue,90.60,35.40,669.10,6.70,21.70,24,4.50,0.00,0.00,18,Hot
38,7,3,oct,sat,90.60,43.70,686.90,6.70,17.80,27,4.00,0.00,0.00,21,Normal

In [71]:
df1['XY'] = df1['X'] * df1['Y']
df1.head()

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

,X,Y,month,day,FFMC,DMC,DC,ISI,temp,RH,wind,rain,area,XY,TempCat
0,7,5,mar,fri,86.20,26.20,94.30,5.10,8.20,51,6.70,0.00,0.00,35,Cold
2,7,4,oct,sat,90.60,43.70,686.90,6.70,14.60,33,1.30,0.00,0.00,28,Normal
4,8,6,mar,sun,89.30,51.30,102.20,9.60,11.40,99,1.80,0.00,0.00,48,Normal
6,8,6,aug,mon,92.30,88.90,495.60,8.50,24.10,27,3.10,0.00,0.00,48,Hot
8,8,6,sep,tue,91.00,129.50,692.60,7.00,13.10,63,5.40,0.00,0.00,48,Normal

In [72]:
del df1['XY']

In [73]:
df1.head()

,X,Y,month,day,FFMC,DMC,DC,ISI,temp,RH,wind,rain,area,TempCat
0,7,5,mar,fri,86.20,26.20,94.30,5.10,8.20,51,6.70,0.00,0.00,Cold
2,7,4,oct,sat,90.60,43.70,686.90,6.70,14.60,33,1.30,0.00,0.00,Normal
4,8,6,mar,sun,89.30,51.30,102.20,9.60,11.40,99,1.80,0.00,0.00,Normal
6,8,6,aug,mon,92.30,88.90,495.60,8.50,24.10,27,3.10,0.00,0.00,Hot
8,8,6,sep,tue,91.00,129.50,692.60,7.00,13.10,63,5.40,0.00,0.00,Normal

In [74]:
df1['XY'] = df1.apply(lambda r : r['X'] * r['Y'], axis = 1)
df1.head()

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

,X,Y,month,day,FFMC,DMC,DC,ISI,temp,RH,wind,rain,area,TempCat,XY
0,7,5,mar,fri,86.20,26.20,94.30,5.10,8.20,51,6.70,0.00,0.00,Cold,35
2,7,4,oct,sat,90.60,43.70,686.90,6.70,14.60,33,1.30,0.00,0.00,Normal,28
4,8,6,mar,sun,89.30,51.30,102.20,9.60,11.40,99,1.80,0.00,0.00,Normal,48
6,8,6,aug,mon,92.30,88.90,495.60,8.50,24.10,27,3.10,0.00,0.00,Hot,48
8,8,6,sep,tue,91.00,129.50,692.60,7.00,13.10,63,5.40,0.00,0.00,Normal,48

** Pivot **

In [75]:
df.pivot_table(values=["rain","wind"], index=["month", "day"], aggfunc="mean")

           rain  wind
month day
apr   fri  0.00  3.10
      mon  0.00  3.10
      sat  0.00  4.50
      sun  0.00  5.67
      thu  0.00  5.80
      wed  0.00  2.70
aug   fri  0.07  4.77
      mon  0.00  2.87
      sat  0.00  4.31
      sun  0.03  4.42
      thu  0.00  3.50
      tue  0.30  4.57
      wed  0.00  3.52
dec   fri  0.00  4.90
      mon  0.00  8.50
      sun  0.00  8.50
      thu  0.00  4.90
      tue  0.00  8.50
      wed  0.00  8.00
feb   fri  0.00  4.82
      mon  0.00  4.50
      sat  0.00  2.35
      sun  0.00  2.55
      thu  0.00  3.10
      tue  0.00  5.85
      wed  0.00  3.10
jan   sat  0.00  3.10
      sun  0.00  0.90
jul   fri  0.00  4.30
      mon  0.00  3.80
...         ...   ...
      wed  0.07  6.27
jun   fri  0.00  4.80
      mon  0.00  4.77
      sat  0.00  2.90
      sun  0.00  2.45
      thu  0.00  6.05
      wed  0.00  4.63
mar   fri  0.02  5.86
      mon  0.00  4.08
      sat  0.00  5.01
      sun  0.00  4.60
      thu  0.00  4.48
      tue  0.00  5.38
      wed  0.00  5.80
may   fri  0.00  4.00
      sat  0.00  4.90
nov   tue  0.00  4.50
oct   fri  0.00  5.40
      mon  0.00  4.35
      sat  0.00  2.80
      sun  0.00  3.00
      tue  0.00  2.70
      wed  0.00  3.15
sep   fri  0.00  3.91
      mon  0.00  3.11
      sat  0.00  3.46
      sun  0.00  3.96
      thu  0.00  3.36
      tue  0.00  3.43
      wed  0.00  3.38

[64 rows x 2 columns]

** Missing Values **

In [76]:
df = pd.read_csv('DataSet/market_fact.csv')
df.head()

,Ord_id,Prod_id,Ship_id,Cust_id,Sales,Discount,Order_Quantity,Profit,Shipping_Cost,Product_Base_Margin
0,Ord_5446,Prod_16,SHP_7609,Cust_1818,136.81,0.01,23.00,-30.51,3.60,0.56
1,Ord_5406,Prod_13,SHP_7549,Cust_1818,42.27,0.01,13.00,4.56,0.93,0.54
2,Ord_5446,Prod_4,SHP_7610,Cust_1818,4701.69,0.00,26.00,1148.90,2.50,0.59
3,Ord_5456,Prod_6,SHP_7625,Cust_1818,2337.89,0.09,43.00,729.34,14.30,0.37
4,Ord_5485,Prod_17,SHP_7664,Cust_1818,4233.15,0.08,35.00,1219.87,26.30,0.38

In [77]:
df.isnull().sum()

Ord_id                   0
Prod_id                  0
Ship_id                  0
Cust_id                  0
Sales                   20
Discount                55
Order_Quantity          55
Profit                  55
Shipping_Cost           55
Product_Base_Margin    109
dtype: int64

In [78]:
df.isnull().sum() / df.isnull().count() * 100

Ord_id                0.00
Prod_id               0.00
Ship_id               0.00
Cust_id               0.00
Sales                 0.24
Discount              0.65
Order_Quantity        0.65
Profit                0.65
Shipping_Cost         0.65
Product_Base_Margin   1.30
dtype: float64

In [79]:
# Remove the missing values from the rows having greater than 5 missing values
print(df.isnull().sum())
df1 = df.dropna(thresh=5, axis=0)
print(df1.isnull().sum())

Ord_id                   0
Prod_id                  0
Ship_id                  0
Cust_id                  0
Sales                   20
Discount                55
Order_Quantity          55
Profit                  55
Shipping_Cost           55
Product_Base_Margin    109
dtype: int64
Ord_id                  0
Prod_id                 0
Ship_id                 0
Cust_id                 0
Sales                   0
Discount               35
Order_Quantity         35
Profit                 35
Shipping_Cost          35
Product_Base_Margin    89
dtype: int64

In [80]:
print(df.isnull().sum())
df["Product_Base_Margin"].fillna(value=df["Product_Base_Margin"].mean(), inplace=True)
print(df.isnull().sum())

Ord_id                   0
Prod_id                  0
Ship_id                  0
Cust_id                  0
Sales                   20
Discount                55
Order_Quantity          55
Profit                  55
Shipping_Cost           55
Product_Base_Margin    109
dtype: int64
Ord_id                  0
Prod_id                 0
Ship_id                 0
Cust_id                 0
Sales                  20
Discount               55
Order_Quantity         55
Profit                 55
Shipping_Cost          55
Product_Base_Margin     0
dtype: int64

In [81]:
df1

,Ord_id,Prod_id,Ship_id,Cust_id,Sales,Discount,Order_Quantity,Profit,Shipping_Cost,Product_Base_Margin
0,Ord_5446,Prod_16,SHP_7609,Cust_1818,136.81,0.01,23.00,-30.51,3.60,0.56
1,Ord_5406,Prod_13,SHP_7549,Cust_1818,42.27,0.01,13.00,4.56,0.93,0.54
2,Ord_5446,Prod_4,SHP_7610,Cust_1818,4701.69,0.00,26.00,1148.90,2.50,0.59
3,Ord_5456,Prod_6,SHP_7625,Cust_1818,2337.89,0.09,43.00,729.34,14.30,0.37
4,Ord_5485,Prod_17,SHP_7664,Cust_1818,4233.15,0.08,35.00,1219.87,26.30,0.38
5,Ord_5446,Prod_6,SHP_7608,Cust_1818,164.02,0.03,23.00,-47.64,6.15,0.37
6,Ord_31,Prod_12,SHP_41,Cust_26,14.76,0.01,5.00,1.32,0.50,0.36
7,Ord_4725,Prod_4,SHP_6593,Cust_1641,3410.16,0.10,48.00,1137.91,0.99,0.55
8,Ord_4725,Prod_13,SHP_6593,Cust_1641,162.00,0.01,33.00,45.84,0.71,0.52
9,Ord_4725,Prod_6,SHP_6593,Cust_1641,57.22,0.07,8.00,-27.72,6.60,0.37
10,Ord_4743,Prod_2,SHP_6615,Cust_1641,4072.01,0.01,43.00,1675.98,0.99,0.56
11,Ord_1925,Prod_6,SHP_2637,Cust_708,465.90,0.05,38.00,79.34,4.86,0.38
12,Ord_2978,Prod_16,SHP_4112,Cust_1088,305.05,0.04,27.00,23.12,3.37,0.57
13,Ord_2207,Prod_11,SHP_3093,Cust_839,3364.25,0.10,15.00,-693.23,61.76,0.78
14,Ord_2207,Prod_10,SHP_3006,Cust_839,1410.93,0.08,10.00,-317.48,36.09,0.77
15,Ord_2280,Prod_5,SHP_3114,Cust_839,460.69,0.06,48.00,-103.48,7.29,0.45
16,Ord_2282,Prod_9,SHP_3122,Cust_839,443.46,0.06,30.00,193.12,1.39,0.38
17,Ord_4471,Prod_15,SHP_6228,Cust_1521,13255.93,0.02,25.00,4089.27,26.00,0.60
18,Ord_4427,Prod_6,SHP_6171,Cust_1521,283.13,0.08,45.00,-141.26,6.81,0.36
19,Ord_996,Prod_13,SHP_1378,Cust_371,41.97,0.05,12.00,-37.03,4.20,0.56
20,Ord_996,Prod_13,SHP_1378,Cust_371,57.17,0.08,18.00,-24.03,2.31,0.56
21,Ord_996,Prod_6,SHP_1378,Cust_371,81.25,0.01,11.00,-44.54,7.86,0.37
22,Ord_996,Prod_5,SHP_1377,Cust_371,3202.25,0.09,44.00,991.26,19.99,0.43
23,Ord_996,Prod_7,SHP_1378,Cust_371,35.64,0.05,10.00,-0.71,1.63,0.36
24,Ord_2573,Prod_3,SHP_3525,Cust_931,197.61,0.08,13.00,3.46,7.27,0.38
25,Ord_2335,Prod_13,SHP_3204,Cust_931,38.26,0.03,22.00,-2.34,0.70,0.56
26,Ord_2456,Prod_5,SHP_3367,Cust_931,109.58,0.00,13.00,31.32,4.00,0.42
27,Ord_2405,Prod_9,SHP_3300,Cust_931,1062.69,0.01,28.00,401.80,6.66,0.40
28,Ord_2573,Prod_4,SHP_3527,Cust_931,3594.74,0.05,38.00,1016.97,2.50,0.55
29,Ord_2478,Prod_12,SHP_3395,Cust_931,139.98,0.07,33.00,-140.54,6.89,0.39
...,...,...,...,...,...,...,...,...,...,...
8360,Ord_3639,Prod_10,SHP_5038,Cust_1266,2173.26,0.00,35.00,-465.66,36.61,0.61
8361,Ord_3553,Prod_16,SHP_4920,Cust_1274,128.31,0.05,39.00,-55.72,1.92,0.84
8362,Ord_3593,Prod_5,SHP_4975,Cust_1274,1175.53,0.03,18.00,257.59,14.48,0.46
8363,Ord_3630,Prod_6,SHP_5028,Cust_1274,134.68,0.10,29.00,-66.46,4.70,0.38
8364,Ord_3574,Prod_16,SHP_4948,Cust_1274,416.99,0.02,32.00,-93.62,4.59,0.82
8365,Ord_3588,Prod_3,SHP_4968,Cust_1274,107.63,0.00,15.00,-29.89,5.48,0.37
8366,Ord_3593,Prod_3,SHP_4974,Cust_1274,12073.06,0.03,39.00,5081.87,19.99,0.38
8367,Ord_3593,Prod_15,SHP_4975,Cust_1274,6685.05,0.09,25.00,1653.60,24.49,nan
8368,Ord_3574,Prod_6,SHP_4947,Cust_1274,438.66,0.01,41.00,58.86,4.78,0.40
8369,Ord_3633,Prod_3,SHP_5031,Cust_1274,1169.26,0.02,41.00,515.62,1.49,0.38
8370,Ord_2696,Prod_13,SHP_3690,Cust_1006,62.78,0.04,20.00,-17.75,2.03,0.57
8371,Ord_2624,Prod_4,SHP_3591,Cust_1006,4924.14,0.07,28.00,1049.54,8.99,0.58
8372,Ord_2772,Prod_9,SHP_3806,Cust_1006,56.90,0.03,7.00,12.64,1.39,0.36
8373,Ord_2600,Prod_16,SHP_3560,Cust_1006,106.64,0.10,30.00,-31.95,1.32,0.83
8374,Ord_2658,Prod_5,SHP_3637,Cust_1006,1082.66,0.08,14.00,-256.93,48.20,0.74
8375,Ord_2772,Prod_3,SHP_3806,Cust_1006,1413.82,0.10,47.00,226.53,11.63,0.37
8376,Ord_2624,Prod_8,SHP_3590,Cust_1006,1211.00,0.00,36.00,-27.99,6.50,0.79
8377,Ord_2722,Prod_12,SHP_3729,Cust_1006,34.01,0.00,12.00,10.58,0.50,0.39
8378,Ord_2706,Prod_2,SHP_3705,Cust_1006,1361.91,0.05,20.00,312.52,3.50,0.59
8379,Ord_2722,Prod_5,SHP_3730,Cust_1006,1008.95,0.04,41.00,69.31,8.99,0.50
8380,Ord_2772,Prod_6,SHP_3807,Cust_1006,308.92,0.04,45.00,-143.58,7.37,0.37
8381,Ord_2696,Prod_4,SHP_3691,Cust_1006,2836.05,0.01,25.00,561.13,8.99,0.59
8382,Ord_2658,Prod_3,SHP_3636,Cust_1006,120.98,0.00,28.00,-92.85,5.34,0.38
8383,Ord_2722,Prod_1,SHP_3731,Cust_1006,3508.33,0.04,21.00,-546.98,35.00,0.85
8384,Ord_4620,Prod_3,SHP_6435,Cust_1577,59.62,0.04,10.00,-56.30,7.78,0.37
8385,Ord_1833,Prod_3,SHP_2527,Cust_637,611.16,0.04,46.00,100.22,4.98,0.40
8386,Ord_2324,Prod_7,SHP_3189,Cust_851,121.87,0.07,39.00,11.32,1.35,0.40
8387,Ord_2220,Prod_3,SHP_3019,Cust_851,41.06,0.04,4.00,-16.39,6.28,0.35
8388,Ord_4424,Prod_1,SHP_6165,Cust_1519,994.04,0.03,10.00,-335.06,35.00,nan
8389,Ord_4444,Prod_13,SHP_6192,Cust_1519,159.41,0.00,44.00,34.68,0.98,0.52